@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Lato:wght@700&family=Poppins:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html, main{
  background-color: $darkBlue;
  height: 1000px;
  width: 100%;
  margin-top: 10px;
}

main{
  display: grid;
  place-items: center;
}

.content{
  height: 100%;
  width: 60%;
  background: rgb(0,229,255);
  background: linear-gradient(0deg, rgb(41, 210, 228) 0%, rgb(41, 197, 244) 27%, rgb(9, 151, 202) 54%, rgba(98,170,248,1) 81%, rgba(101,175,255,1) 100%);
  border-radius: 15px;
}

.search-icon{
  height: 30px;
}

header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.button-wrapper, 
.input-wrapper{
  display: inline-block;
}

.city-input{
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 17px;
  background-color: $offWhite;
  padding-left: 15px;
  font-size: 20px;
  &:focus{
    outline: none;
  }
}


.search-button{
  border: none;
  padding: 10px;
  border-radius: 30px;
  background-color: $offWhite;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: background-color 0.15s;
  &:hover{
    background-color: darken($offWhite, 5%);
  }
  &:active{
    background-color: darken($offWhite, 10%);
  }
}

.weather-icon{
  height: 300px;
}
